body{
    font-family: 'Fjalla One', sans-serif;    
    z-index: -3;
    position: absolute;
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url(bg.png);
    background-size: cover;
    background-position: center;
    z-index: -2;
}
h2#roomNumber{
    text-align: center;
    width: 100vw;
    font-size: 20vh;
    position: absolute;
    left: 0;
    margin-top: 70px;
    color: white;
}
button#startGame{
    font-family: 'Fjalla One', sans-serif;
    position: absolute;
    top: 360px;
    font-size: 10vh;
    height: 18.1vh;
    width: 38.1vh;
    border: 0px;
    padding: 1vw;
    border-radius: 8.1vw;
    background-color: #324040;
    margin-left: calc(50vw - (38.1vh / 2));
    color: #c9d2d1; 
}
.player-cont {
    width: 300px;
    height: 100vh;
    position: absolute;
    right: -2;
/*    background-color: orange;*/
}
.player {
    width: 100%;
    height: 68px;
    margin-top: 20px;
    transition: 0.5s ease-in-out;
    border-radius: 36px 0px 0px 33px;
    box-sizing: border-box;
    background-image: url(playerbg.png);
}
.player[player-id="1"]{background-color: #75B843;}
.player[player-id="2"]{background-color: #62C3D6;}
.player[player-id="3"]{background-color: #FCC014;}
.player[player-id="4"]{background-color: #BD9BC9;}
.player[player-id="5"]{background-color: #e9473d;}
.player[player-id="6"]{background-color: #FEEB25;}
.player[player-id="7"]{background-color: #268138;}
.player[player-id="8"]{background-color: #3CA5DD;}
.player[player-id="9"]{background-color: #DD5B9D;}
.player h2 {
    width: 170px;
    margin: 0px;
    position: absolute;
    margin-left: 70px;
    margin-top: -64px
}
img.avatar {
    width: 60px;
    margin: 4px;
    border-radius: 30px;
}
.drinks {
    width: 60px;
    height: 60px;
    float: right;
    margin: 4px;
    background-image: url(bier.png);
}
.drinks p {    
    position: absolute;
    margin-top: 23px;
    width: 55px;
    text-align: center;
}
.playerCards {
    position: absolute;
    margin-top: -24px;
    margin-left: 70px;
}
.playerCardsItem {
    display: inline-block;
    margin-right: 8px;
}
.playerCardsItem img {
    width: 26px;
    height: 26px;
    margin-top: -7px;;
}
.playerCardsItem p {
    color: white;
    margin: -22px 0px 0px 0px;
    text-align: center;
}
.playerTurn {
    transform: scale(1.3);
    margin-left: -45px;
}
.instructions {
    width: calc(100vw - 455px);
    margin-left: 85px;
}
.instructions h3 {
    width: 100%;
    text-align: center;
    margin-top: 90px;
    font-size: 47pt;
    text-shadow: -3px 3px 20px #fff, 3px -4px 20px #fff;
}
.feedback {
    width: calc(100vw - 455px);
    margin-left: 85px;
    position: absolute;
    top: 400px;
}
.feedback h3 {
    text-align: center;
    z-index: 2;
    font-size: 80pt;
    margin: 0;
    text-shadow: -3px 3px 20px #fff, 3px -4px 20px #fff;    
}
.cardStack{
    width: 125px;
    height: 180px;
    position: absolute;
    left: 40px;
    background-image: url(../../assets/backs/back0.png);
    background-size: cover;
}
.cardStack.card1{
    left: 40px;
    top: calc(100vh - 220px);
}
.cardStack.card2{
    left: 39px;
    top: calc(100vh - 218px);
}
.cardStack.card3{
    left: 38px;
    top: calc(100vh - 216px);
}
.cardStack.card4{
    left: 37px;
    top: calc(100vh - 214px);
}
.cardStack.card5{
    left: 36px;
    top: calc(100vh - 212px);
}
.card {
    background-image: url(../../assets/backs/back0.png);
    background-size: cover;
    position: absolute;
    z-index: -1;
}
.card img {
    width: 100%;
}
.newCard {    
    width: 125px;
    height: 180px;
    left: 40px;
    top: calc(100vh - 220px);
}
.activeCard {
    top: 25vh;
    width: 250px;
    height: 361px;
    transition: 1s ease-in-out;
    left: calc(50vw - 268px);
}
.activeCard img{
    display: none;
}
.flipping {
    transform: rotateY(90deg);
}
.round5cont{
    width: calc(100vw - 455px);
    height: 100vh;
}
.round5{
    width: 85vh;
    position: relative;
    margin: auto;
}
.round5card{
    height: calc(85vh / 5);
    width: calc((85vh / 5)/1.44);
    position: absolute;
    background-image: url(../../assets/backs/back0.png);
    background-size: cover;
    transition: 0.5s;
    
    left: calc((85vh / 5)*2 + 1vw);
    top: calc(0vh - (85vh / 5));
}
.round5card img{
    height: calc(85vh / 5);
    display: none;
}
#r5c0{
    top:78vh;
    left: 1vw;
}
#r5c1{
    top:78vh;
    left: calc((85vh / 5)*1 + 1vw);
}
#r5c2{
    top:78vh;
    left: calc((85vh / 5)*2 + 1vw);
}
#r5c3{
    top:78vh;
    left: calc((85vh / 5)*3 + 1vw);
}
#r5c4{
    top:78vh;
    left: calc((85vh / 5)*4 + 1vw);
}
#r5c5{
    top:59vh;
    left:calc((85vh / 5)*0.5 + 1vw);
}
#r5c6{
    top:59vh;
    left: calc((85vh / 5)*1.5 + 1vw);
}
#r5c7{
    top:59vh;
    left: calc((85vh / 5)*2.5 + 1vw);
}
#r5c8{
    top:59vh;
    left: calc((85vh / 5)*3.5 + 1vw);
}
#r5c9{
    top: 40vh;
    left: calc((85vh / 5)*1 + 1vw);
}
#r5c10{
    top: 40vh;
    left: calc((85vh / 5)*2 + 1vw);
}
#r5c11{
    top: 40vh;
    left: calc((85vh / 5)*3 + 1vw);
}
#r5c12{
    top: 21vh;
    left: calc((85vh / 5)*1.5 + 1vw);
}
#r5c13{ 
    top: 21vh;
    left: calc((85vh / 5)*2.5 + 1vw);
}
#r5c14{
    top: 1vh;
    left: calc((85vh / 5)*2 + 1vw);
}
.persFeedback {
    width: 200px;
    height: 68px;
    position: absolute;
    background: #ddeaea;
    margin-left: -255px;
    margin-top: -54px;
    border-radius: 34px 10px 60px 34px;
    padding: 0px 30px;
    transform: scale(0.9);
}
.persFeedback p{
    margin: 10px 0px;
}

.drinkContainer {
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url(drink/drink1.png);
    background-size: cover;
    animation-name: drink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes drink {
    0%   {background-image: url(drink/drink1.png);}
    40%  {background-image: url(drink/drink2.png);}
    70%  {background-image: url(drink/drink3.png);}
}