*:focus {
    border: 0px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(bg.png);
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
}
.login{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: url(bg.png);
    background-size: cover;
    z-index: 50;
    bacgk
}
.login #room {
    width: 80vw;
    height: 18vw;
    margin: 5vw 10vw;
    font-size: 43pt;
    box-sizing: border-box;
    padding: 2vh;
    border: 0px;
    border-bottom: 5px solid rgb(76, 102, 100);
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.login #name {
    width: 80vw;
    height: 17vw;
    margin: 5vw 10vw;
    font-size: 26pt;
    box-sizing: border-box;
    padding: 2vh;
    border: 0px;
    border-bottom: 5px solid rgb(76, 102, 100);
    font-family: 'Fjalla One', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}
.login button {
    width: 40vw;
    height: 68px;
    margin: 5vw 30vw;
    font-size: 36pt;
    border: 0px;
    background-color: #324040;
    border-radius: 5vh;
    color: #c9d2d1;
    font-family: 'Fjalla One', sans-serif;
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 76px;
    background-color: #74b843;
    background-image: url(../host/assets/playerbg.png);
    display: inline-flex;
}
header img {
    width: 60px;
    height: 60px;
    margin: 8px;
    border-radius: 50%;
}
header h2 {
    margin-left: 0px;
    color: white;
    font-size: 35px;
    margin-top: 17px;
}
header .points {
    position: absolute;
    right: 8px;
    top: 4px;
    width: 60px;
    height: 60px;
    background-image: url(../host/assets/bier.png);
    text-align: center;
}
.points p{
    margin-top: 22px;
    margin-right: 7px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.buttons{    
    position: absolute;
    top: 30vh;
    margin-left: 5vw;
    z-index: 1;
}
.buttons button{
    width: 35vw;
    height: 11vh;
    border-radius: 22px;
    display: inline-block;
    margin: 5vw;
    border: 0px;
    background-color: rgb(76, 102, 100);
    box-shadow: 0px 0px 8px black;
    color: white;
    box-sizing: border-box;
    font-size: 20pt;
    font-family: 'Fjalla One', sans-serif;
}
.card1Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 4vw;
}
.card2Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 28vw;
}
.card3Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 52vw;
}
.card4Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 76vw;
}
.card1Idle img, .card2Idle img, .card3Idle img, .card4Idle img {
    width: 20vw;
}
.card {
    transition: 0.2s ease-in-out;
    position: absolute;
    width: 50vw;
    height: calc(50vw * 1.444);
    background-image: url(backs/back0.png);
    background-size: cover;
    top:20vh;
    left: 25vw;
}
.card img {
    width: 100%;
}
.card.closed {
    transition: 1s ease-in-out;
}
.closed img {
    display: none;
}
.card.closed.outside {
    top:-50vh;
}
.flipping {
    transform: rotateY(90deg);
    transition: 0.2s ease-in-out !important;
}
.card.inHand {
    transition: 0.5s ease-in-out;
    width: 20vw;
    height: calc(20vw * 1.444);
    top: calc(100vh - 33.88vw);
}
.button5 {
    position: absolute;
    top: 30vh;
    margin-left: 5vw;
    z-index: 1;
}
button#round5{
    width: 80vw;
    height: 11vh;
    border-radius: 22px;
    display: inline-block;
    margin: 5vw;
    border: 0px;
    background-color: rgb(76, 102, 100);
    box-shadow: 0px 0px 8px black;
    color: white;
    box-sizing: border-box;
    font-size: 20pt;
    font-family: 'Fjalla One', sans-serif;
}
.inHand.selected {
    transform: scale(1.15);
    top: calc(100vh - 39.88vw);
}
.giveDrink{
    margin-top: 80px;
}
.givePlayer {
    background-color: yellow;
    margin: 5px 5vw;
    padding: 0;
    display: inline-block;
    width: 90vw;
    border-radius: 30px;
    height: 60px;
    box-sizing: border-box;
    padding-left: 20px;
}
.givePLayer h3 {
    width: calc(90vw - 173px);
    float: left;
} 
.drinkDrinks {
/*    hidden for now*/
    display: none;
}
.buttonSet {
    width: 153px;
    float: right;
    margin: 0px;
    text-align: right;
    background-color: white;
    border-radius: 30px;
}
.buttonSet button {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 30px;
    display: inline-block;
    background-color: #29b190;
    font-size: 46px;
    color: white;
    text-align: center;
}
.buttonSet p{
    display: inline-block;
    font-size: 27px;
    margin: 20px 8px;
    line-height: 0;
    width: 17px;
}
button.send{
    height: 60px;
    width: 40vw;
    margin-left: calc(50vw - 20vw);
    margin-top: 10px;
    padding: 0;
    display: inline-block;
    border-radius: 22px;
    border: 0px;
    background-color: rgb(76, 102, 100);
    box-shadow: 0px 0px 8px black;
    color: white;
    box-sizing: border-box;
    font-size: 20pt;
    font-family: 'Fjalla One', sans-serif;
}
.takeDrink {
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 21, 20, 0.71);
    display: none;
    position: absolute;
    z-index: 50;
    display: none;
}
.takeDrink h2 {
    width: 100vw;
    top: 0vh;
    position: absolute;
    text-align: center;
    font-size: 40vw;
    color: white;
}
span.drinkinH2{
    font-size: 12vw;
}
button#takeDrink {
    height: 60px;
    width: 40vw;
    margin-left: calc(50vw - 20vw);
    margin-top: 81vw;
    padding: 0;
    display: inline-block;
    border-radius: 22px;
    border: 0px;
    background-color: rgb(76, 102, 100);
    box-shadow: 0px 0px 8px black;
    color: white;
    box-sizing: border-box;
    font-size: 20pt;
    font-family: 'Fjalla One', sans-serif;
}
div[player-id="1"],header[player-id="1"]{background-color: #75B843;}
div[player-id="2"],header[player-id="2"]{background-color: #62C3D6;}
div[player-id="3"],header[player-id="3"]{background-color: #FCC014;}
div[player-id="4"],header[player-id="4"]{background-color: #BD9BC9;}
div[player-id="5"],header[player-id="5"]{background-color: #e9473d;}
div[player-id="6"],header[player-id="6"]{background-color: #FEEB25;}
div[player-id="7"],header[player-id="7"]{background-color: #268138;}
div[player-id="8"],header[player-id="8"]{background-color: #3CA5DD;}
div[player-id="9"],header[player-id="9"]{background-color: #DD5B9D;}
