body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.login{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;
    z-index: 50;
}
.login #room {
    width: 80vw;
    height: 20vw;
    margin: 5vw 10vw;
    font-size: 50pt;
    box-sizing: border-box;
    padding: 2vh;
    border: 0px;
    border-bottom: 0.5vh solid blue;
    text-transform: uppercase;
}
.login #name {
    width: 80vw;
    height: 20vw;
    margin: 5vw 10vw;
    font-size: 46pt;
    box-sizing: border-box;
    padding: 2vh;
    border: 0px;
    border-bottom: 0.5vh solid blue;
}
.login button {
    width: 40vw;
    height: 10vh;
    margin: 5vw 30vw;
    font-size: 36pt;
    border: 0px;
    background-color:blue;
    color: white;
}
.container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
}
.buttons{    
    position: absolute;
    top: 30vh;
    margin-left: 5vw;
    z-index: 1;
}
.buttons button{
    width: 35vw;
    height: 11vh;
    border-radius: 22px;
    display: inline-block;
    margin: 5vw;
    border: 0px;
    background-color: dodgerblue;
    color: white;
    box-sizing: border-box;
    font-size: 20pt;
}
.card1Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 4vw;
}
.card2Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 28vw;
}
.card3Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 52vw;
}
.card4Idle{
    position: absolute;
    bottom: 10;
    width: 20vw;
    left: 76vw;
}
.card1Idle img, .card2Idle img, .card3Idle img, .card4Idle img {
    width: 20vw;
}
.card {
    transition: 0.2s ease-in-out;
    position: absolute;
    width: 50vw;
    height: calc(50vw * 1.444);
    background-image: url(backs/back0.png);
    background-size: cover;
    top:20vh;
    left: 25vw;
}
.card img {
    width: 100%;
}
.card.closed {
    transition: 1s ease-in-out;
}
.closed img {
    display: none;
}
.card.closed.outside {
    top:-50vh;
}
.flipping {
    transform: rotateY(90deg);
    transition: 0.2s ease-in-out !important;
}
.card.inHand {
    transition: 0.5s ease-in-out;
    width: 20vw;
    height: calc(20vw * 1.444);
    top: calc(100vh - 33.88vw);
}